body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: beige;
}

#frame {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
  border: 0;
  margin: 0px;
}

p {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: fabrica;
}
